.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 64px;
  margin: 5px;
}

.banner {
  width: 250px;
}

.container_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_logo {
    margin-top: 2%;
  }
}
